---
import { marked } from "marked";
import type { CollectionEntry } from "astro:content";
import Header from "@components/posts/Header.astro";

export interface Props {
  post: CollectionEntry<"blog">;
  preview?: boolean;
}

const { post, preview = true} = Astro.props;

const link = `/${post.collection}/${post.slug}`;

import { clipArticle } from "@utils/utils.ts";
const clippedArticle = clipArticle(post.body, 150);
const renderedArticle = marked.parse(clippedArticle);
---

<div class="entry">
  <div>
    <Header post={post} link={true} />
  </div>
  {preview &&
  <div class="preview">
    <div class="preview-body" set:html={renderedArticle} />
    <!-- <a class="cover" href={link}></a> -->
  </div>
  }
</div>

<style>
  .entry {
    position: relative;
  }
  /* .img { */
  /*   width: 3.8rem; */
  /*   height: 3.8rem; */
  /*   margin-left: auto; */
  /*   padding: var(--halfpad); */
  /* } */
  .desc {
    font-size: var(--small-font);
    padding: var(--block-mark);
    margin: var(--halfpad);
    margin-top: 0;
  }
  .link {
    display: block;
    font-size: var(--big-font);
    font-weight: 600;
    margin-bottom: -0.25rem;
  }

  .preview {
    position: relative;
  }
  .preview-body {
    mask-image: linear-gradient(to bottom, black 40%, transparent 95%);
    height: 20rem;
    overflow: hidden;
  }
  .cover {
    position: absolute;
    top: 0;
    z-index: 10;
    /* background-color: #ffffff22; */
    height: 20rem;
    width: 100%;
  }
  .cover:hover {
    background-color: inherit;
  }
</style>
