---
import { marked } from "marked";
import type { CollectionEntry } from "astro:content";
import Header from "@components/posts/Header.astro";

export interface Props {
  post: CollectionEntry<"blog"> | CollectionEntry<"projects">;
  preview?: boolean;
  link?: boolean;
}

const { post, link = true, preview = true } = Astro.props;

const href = `/${post.collection}/${post.slug}`;

import { clipArticle } from "@utils/utils.ts";
const clippedArticle = clipArticle(post.body, 150);
const renderedArticle = marked.parse(clippedArticle);
---

<div class="entry">
  <Header post={post} link={link} />
  {
    preview && (
      <div class="preview">
        <div class="preview-body" set:html={renderedArticle} />
        <a class="cover" href={href} />
      </div>
    )
  }
</div>

<style>
  .entry {
    position: relative;
  }
  .preview {
    position: relative;
  }
  .preview-body {
    mask-image: linear-gradient(to bottom, black 40%, transparent 95%);
    height: 20rem;
    overflow: hidden;
  }
  .cover {
    position: absolute;
    top: 0;
    z-index: 10;
    /* background-color: #ffffff22; */
    height: 20rem;
    width: 100%;
  }
  .cover:hover {
    background-color: inherit;
  }
</style>
