---
import { type Page } from "astro";
export interface Props {
  page: Page;
}
import IconLink from "@components/ui/IconLink.astro";

const { page } = Astro.props;
---

<div class="paginator">
  <div class="first">
    {
      page.url.first ? (
        <IconLink icon="mingcute:arrows-left-line" href={page.url.first} />
      ) : (
        <div class="standin" />
      )
    }
  </div>
  <div class="prev">
    {
      page.url.prev ? (
        <IconLink icon="mingcute:arrow-left-line" href={page.url.prev} />
      ) : (
        <div class="standin" />
      )
    }
  </div>

  <div class="center">
    <!-- <div class="top"> -->
    <IconLink icon="mingcute:arrows-up-line" href="#top" />
    <!-- </div> -->
    <!-- <div class="page">{page.currentPage}</div> -->
    <!-- <div class="taglink"> -->
    <!--   <IconLink icon="mingcute:tag-line" href="/tags" /> -->
    <!-- </div> -->
  </div>

  <div class="next">
    {
      page.url.next ? (
        <IconLink icon="mingcute:arrow-right-line" href={page.url.next} />
      ) : (
        <div class="standin" />
      )
    }
  </div>
  <div class="last">
    {
      page.url.last ? (
        <IconLink icon="mingcute:arrows-right-line" href={page.url.last} />
      ) : (
        <div class="standin" />
      )
    }
  </div>
</div>

<style>
  .paginator {
    font-size: var(--huge-font);
    justify-content: space-between;
    margin-top: var(--pad);

    display: flex;
  }
  .center {
  }
  .standin {
    /* slightly confusing */
    width: 2rem;
  }

  .first,
  .last {
  }
  .prev,
  .next {
  }
</style>
