---
import BaseLayout from "@layouts/BaseLayout.astro";
import { getCollection } from "astro:content";
import { marked } from "marked";
import Date from "@components/blog/Date.astro";

import type { BlogPost } from "@utils/types";

export async function getStaticPaths() {
  let posts = await getCollection("blog", (entry) => entry.data.published);
  return posts.map((entry) => ({
    params: { slug: entry.slug },
    props: { entry },
  }));
}

const { entry } = Astro.props;
const { title, description, date, image, imageAlt, updated, published } =
  entry.data as BlogPost;

const renderedDesc = description ? marked.parse(description) : null;
const { Content } = await entry.render();
---

<BaseLayout frontmatter={entry.data}>
  <header>
    <h1 class="title">{title}</h1>
    <div class="metadata">
      {renderedDesc ? <div class="desc" set:html={renderedDesc} /> : <div />}
      <div class="date">
        <Date date={date} updated={updated} />
      </div>
    </div>
  </header>

  <Content />
</BaseLayout>

<style>
  header {
    position: relative;
    margin-bottom: var(--halfpad);
  }

  .title {
    margin-top: var(--halfpad);
    text-align: center;
    line-height: 2rem;
  }

  .metadata {
    padding-left: var(--pad);
    padding-right: var(--pad);
    display: flex;
    justify-content: space-between;
  }

  .desc {
    font-size: var(--small-font);
    border-left: var(--block-mark) solid var(--border);
    border-radius: var(--block-mark);
    padding-left: var(--block-mark);
  }
  .date {
  }
</style>
