---
import type { CollectionEntry } from "astro:content";
export interface Props {
  post: CollectionEntry<"blog">;
}

import Header from "@components/posts/Header.astro";
import BaseLayout from "@layouts/BaseLayout.astro";
import { getCollection } from "astro:content";

export async function getStaticPaths() {
  let posts = await getCollection(
    "blog",
    (post) => (post.data.published && post.body) || import.meta.env.DEV,
  );
  return posts.map((post) => ({
    params: { slug: post.slug },
    props: { post },
  }));
}

const { post } = Astro.props;

const { Content } = await post.render();
---

<BaseLayout frontmatter={post.data}>
  <div>
    <Header post={post} desc={false} />
    <Content />
    <!-- <Suggester prevPage={post} nextPage={post} /> -->
  </div>
</BaseLayout>

<style>
  div {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
</style>
