---
import BaseLayout from "@layouts/BaseLayout.astro";
import Date from "@components/blog/Date.astro";
import { getCollection, getEntry } from "astro:content";
import { servers } from "@data/links";

const about = await getEntry("about", "about-me");
const goofs = await getCollection("goofs");

const { Content } = await about.render();
---

<BaseLayout frontmatter={about.data}>
  <div class="container">
    <h2>{about.data.description}</h2>

    <div class="updated">
      <Date
        date={about.data.date}
        updated={about.data.updated}
        showUpdated={true}
      />
    </div>

    <Content />

    <h3>goofs</h3>

    {goofs.reverse().map((goof) => <p>{goof.body}</p>)}
  </div>
</BaseLayout>

<style>
  .container {
    position: relative;
  }
  .updated {
    position: absolute;
    top: 1.35rem;
    right: 0;
    color: var(--text-soft);
    font-size: var(--small-font);
  }
</style>
