---
import BaseLayout from "@layouts/BaseLayout.astro";
import LongPost from "@components/posts/LongPost.astro";
import Paginator from "@components/posts/Paginator.astro";

import { getCollectionPosts } from "@utils/utils.ts";
import { type Frontmatter } from "@utils/types.ts";
import { type Page } from "astro";

export interface Props {
  page: Page;
}
// @ts-expect-error: what the fuck IS the type of paginate
export async function getStaticPaths({ paginate }) {
  let posts = await getCollectionPosts("projects");
  return paginate(posts, { pageSize: 4 });
}

const frontmatter = {
  title: "projects",
  description: "",
  date: new Date("2020-02-10"),
} as Frontmatter;

const { page } = Astro.props;
---

<BaseLayout frontmatter={frontmatter}>
  <div class="base">
    {
      page.data.map((post, index) => {
        return (
          <div>
            {index !== 0 && <hr />}
            <LongPost post={post} preview={false} desc={true} />
          </div>
        );
      })
    }

    <Paginator page={page} />
  </div>
</BaseLayout>

<style>
  .base {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
</style>
