---
import { marked } from "marked";
import { getEntry } from "astro:content";
import Date from "@components/blog/Date.astro";

const {
  title,
  description,
  date,
  updated,
  image,
  author,
  published,
  tags,
  slug,
  collection,
} = Astro.props;

const blogPost = await getEntry("blog", "slug");
console.log(blogPost);

const renderedDesc = description ? marked.parse(description) : null;
---

<div class="entry">
  <div class="info">
    <a href={slug}>{title}</a>
    <Date date={date} updated={updated} />
    {renderedDesc && <blockquote class="desc" set:html={renderedDesc} />}
    <!-- <div class="preview"></div> -->
  </div>
  <div class="img">
    {image ? <img src={image} /> : null}
  </div>
</div>

<style>
  .entry {
    display: flex;
    /* border: 1px solid black; */
    /* position: relative; */
    /* margin: auto; */
  }
  img {
    border: var(--block-mark) solid var(--border-soft);
    border-radius: var(--squircle);
    box-shadow: var(--edge);
  }
  .img {
    width: 3.8rem;
    height: 3.8rem;
    margin-left: auto;
    padding: var(--halfpad);
  }
  .desc {
    font-size: var(--small-font);
    border-radius: var(--block-mark);
    padding: var(--block-mark);
    margin: var(--block-mark);
    margin-left: 0;
  }
  a {
    display: block;
    font-size: 1.2em;
    font-weight: 600;
    margin-bottom: -0.25rem;
  }
</style>
