---
import { type Frontmatter } from "@utils/types.ts";
interface Props {
  frontmatter: Frontmatter;
}
const { frontmatter } = Astro.props;

import "@styles/style.css";
import AvatarImage from "@data/images/avatar.png";
import { menuToggleId } from "@utils/consts.ts";

// import ArrowCard from "@components/ui/ArrowCard.astro";
// import MarqueeBar from "@components/ui/MarqueeBar.astro";

import Meta from "@components/ui/Meta.astro";
import Bar from "@components/ui/Bar.astro";
import Sidebar from "@components/ui/Sidebar.astro";
import SidebarButton from "@components/ui/SidebarButton.astro";
import AvatarCard from "@components/ui/AvatarCard.astro";
import IconDisplay from "@components/ui/IconDisplay.astro";
import Nav from "@components/ui/Nav.astro";
import ThemeButton from "@components/ui/ThemeButton.astro";
import Beats from "@components/showoff/Beats.astro";

import {
  internalLinks,
  externalLinks,
  subscribeLinks,
  socialLinks,
  metaLinks,
} from "@data/links";

const hostname = Astro.url.hostname;
const site_name = "gregsite";
const locale = "en_US";
---

<html lang="en">
  <head>
    <Meta frontmatter={frontmatter} site_name={site_name} locale={locale} />
  </head>

  <body>
    <Bar type="header">
      <AvatarCard
        image={AvatarImage}
        alt="gregdan3's avatar: a floating yellow star with red bowtie, yellow gloves, and chalk in hand"
        href="/"
        heading={hostname}
        slot="left"
      />
      <ThemeButton slot="right" />
      <SidebarButton slot="right" id={menuToggleId} />
    </Bar>

    <div class="spacer">
      <main transition:animate="none">
        <slot />
      </main>
      <aside>
        <Sidebar id={menuToggleId}>
          <Nav slot="top" links={internalLinks} intrasite={true} />
          <Nav slot="top" links={externalLinks} intrasite={false} />
          <Nav slot="top" links={subscribeLinks} intrasite={false} />
          <IconDisplay slot="bottom" links={socialLinks} />
        </Sidebar>
      </aside>
    </div>

    <Bar type="footer">
      <div slot="left" style="height: 2rem;">
        <Beats />
      </div>
    </Bar>
  </body>
</html>

<style>
  body {
    /* grow to end of page */
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
  }

  main {
    /* width: fit-content; */
    width: 900px;
    /* max-width: 1200px; */
    padding: 2rem;
    margin: 0 2rem 0 2rem;

    background: var(--main-bg);
    color: var(--text);
    box-shadow: var(--edge), var(--shadow);
  }

  aside {
    background: var(--main-bg);
    color: var(--text);
  }

  .spacer {
    flex: 1; /* grow to end of page */
    display: flex;
    /* aside is below main */
    flex-direction: row-reverse;
    max-width: 100vw;

    /* left/right are auto
       ensures centering */
    margin: 0 auto 0 auto;
  }

  @media (min-width: 768px) {
    main {
    }
    aside {
      min-width: fit-content;
      height: fit-content;
      position: sticky;
      top: 2rem;

      box-shadow: var(--edge), var(--shadow);
    }

    .spacer {
    }
  }
</style>
