---
import { type Frontmatter } from "@utils/types.ts";
interface Props {
  frontmatter: Frontmatter;
}
const { frontmatter } = Astro.props;

import "@styles/style.css";
import AvatarImage from "@data/images/avatar.png";
import { menuToggleId } from "@utils/consts.ts";

import Meta from "@components/ui/Meta.astro";
import Bar from "@components/ui/Bar.astro";
import Sidebar from "@components/ui/Sidebar.astro";
import SidebarButton from "@components/ui/SidebarButton.astro";
import Avatar from "@components/ui/Avatar.astro";
import IconDisplay from "@components/ui/IconDisplay.astro";
import Nav from "@components/ui/Nav.astro";
import ThemeButton from "@components/ui/ThemeButton.astro";

import {
  internalLinks,
  externalLinks,
  subscribeLinks,
  socialLinks,
  metaLinks,
} from "@data/links";

const hostname = Astro.url.hostname;
---

<html lang="en">
  <head>
    <Meta title={frontmatter.title} description={frontmatter.description} />
  </head>

  <body>
    <Bar type="header">
      <Avatar slot="left" image={AvatarImage} />
      <h2 slot="left">{hostname}</h2>
      <ThemeButton slot="right" />
      <SidebarButton slot="right" id={menuToggleId} />
    </Bar>

    <div class="spacer">
      <main>
        <slot />
      </main>
      <aside>
        <Sidebar id={menuToggleId}>
          <Nav slot="top" links={internalLinks} intrasite={true} />
          <Nav slot="top" links={externalLinks} intrasite={false} />
          <Nav slot="top" links={subscribeLinks} intrasite={false} />
          <IconDisplay slot="bottom" links={socialLinks} />
        </Sidebar>
      </aside>
    </div>

    <Bar type="footer">
      <div></div>
    </Bar>
  </body>
</html>

<style>
  body {
    /* grow to end of page */
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
  }

  main {
    max-width: 900px; /* TODO: 4k */
    width: 100%;
    padding: 2rem;

    background: var(--main-bg);
    color: var(--text);
  }
  aside {
    /* placement */
    max-width: 150px;
    width: 25%;

    /* appearance */
    margin-right: 2rem;
    padding: 0.5rem;
    background: var(--main-bg);
    color: var(--main-fg);

    /* responsiveness */
    display: none;
  }

  .spacer {
    flex: 1; /* grow to end of page */
    display: flex;
    flex-direction: row-reverse;

    /* width: 100%; */

    margin: 0 auto 0 auto;
  }

  @media (min-width: 768px) {
    main {
      /* max-width: 60vw; */
    }
    aside {
      display: block;
    }

    .spacer {
      /* width: 80%; */
    }
  }
</style>
