---
import { type Frontmatter } from "@utils/types.ts";
import Nav from "@components/ui/Nav.astro";
import ThemeButton from "@components/ui/ThemeButton.astro";

interface Props {
  frontmatter: Frontmatter;
}

import AvatarImage from "@data/images/avatar.png";

import Meta from "@components/ui/Meta.astro";
import Header from "@components/ui/Header.astro";
import Sidebar from "@components/ui/Sidebar.astro";
import SidebarButton from "@components/ui/SidebarButton.astro";
import Footer from "@components/ui/Footer.astro";

import {
  internalLinks,
  externalLinks,
  subscribeLinks,
  socialLinks,
  metaLinks,
} from "@data/links";

import "@styles/style.css";

const hostname = Astro.url.hostname;

const menuToggleID = "menutoggle";

const { frontmatter } = Astro.props;
---

<html lang="en">
  <head>
    <Meta title={frontmatter.title} description={frontmatter.description} />
  </head>

  <body>
    <Header title={hostname} image={AvatarImage}>
      <div></div>
      <div slot="buttons">
        <ThemeButton />
        <SidebarButton id={menuToggleID} />
      </div>
    </Header>

    <div class="spacer">
      <main>
        <slot />
      </main>
      <aside>
        <Sidebar id={menuToggleID}>
          <Nav links={internalLinks} intrasite={true} />
          <Nav links={externalLinks} intrasite={false} />
          <Nav links={subscribeLinks} intrasite={false} />
        </Sidebar>

        <svg>
          <path
            d="M14.923 17.087c-2.254.666-4.388.967-6.402.905-2.014-.062-3.742-.532-5.183-1.409-1.442-.877-2.436-2.217-2.982-4.022-.549-1.814-.463-3.476.257-4.985.719-1.51 1.905-2.832 3.557-3.965C5.823 2.478 7.776 1.578 10.03.913c2.243-.663 4.369-.965 6.376-.906 2.007.059 3.733.523 5.178 1.394 1.446.87 2.441 2.207 2.987 4.011.546 1.804.457 3.464-.266 4.981-.724 1.516-1.908 2.845-3.551 3.987-1.644 1.143-3.588 2.045-5.831 2.707Z"
            style="fill-rule: nonzero;"></path>
        </svg>
      </aside>
    </div>

    <Footer>
      <div></div>
    </Footer>
  </body>
</html>

<style>
  body {
    /* grow to end of page */
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
  }

  main {
    max-width: 900px;
    width: 70%;
    line-height: 1.5em;
    padding: 4%;
    background: var(--prim-bg);
    color: var(--prim-fg);
  }
  aside {
    /* TODO: fit to content */
    max-width: 150px;
    width: 25%;
    min-height: 30vh;
    margin-right: 4%;

    padding: 0.5em;

    background: var(--prim-bg);
    color: var(--prim-fg);
  }

  .spacer {
    flex: 1; /* grow to end of page */
    display: flex;
    flex-direction: row-reverse;

    margin: 4% auto 4% auto;
  }

  .navheading {
    font-size: 1.5em;
  }
</style>
