---
import type { ProjectData } from "@utils/types";

export interface Props {
  project: ProjectData;
}

import FixedIcon from "@components/ui/FixedIcon.astro";
import IconLink from "@components/ui/IconLink.astro";
const { project } = Astro.props;
---

<!-- <a href={project.link} rel="dofollow" target="_blank">link</a> --><!-- <a href={project.repo} rel="dofollow" target="_blank">repo</a> --><!-- <a href={project.blog} rel="dofollow" target="_blank">blog</a> -->
<div>
  <hr />
  <h2>
    {project.name}
  </h2>

  {
    project.link && (
      <IconLink icon="mingcute:external-link-line" href={project.link} />
    )
  }
  {project.repo && <IconLink icon="mingcute:code-line" href={project.repo} />}
  {
    project.blog && (
      <IconLink icon="mingcute:document-line" href={project.blog} />
    )
  }

  <div>{project.description}</div>

  {
    project.skills.map((skill) => {
      return (
        <div>
          <FixedIcon name={skill.icon} inline={true} />
          <span>{skill.name}</span>
        </div>
      );
    })
  }
</div>

<style></style>
