---
import type { DiscordShield } from "@utils/types.ts";

export interface Props {
  server: DiscordShield;
}

const { server } = Astro.props;
---

<a href={server.invite_link} rel="dofollow" target="_blank">
  <img
    alt={server.label}
    src={`https://img.shields.io/discord/${server.server_id}?style=${server.style}&logo=${server.logo}&logoColor=${server.logoColor}&labelColor=${server.labelColor}&color=${server.color}&label=${server.label}`}
  />
</a>

<style>
  a {
    text-decoration: none;
    line-height: 0;
    padding: var(--block-mark);
  }
  a:hover {
    text-decoration: none;
    background-color: inherit;
  }
  img {
    border-radius: var(--block-mark);
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.6);
  }
</style>
