---
import "@styles/style.css";

import { type Frontmatter } from "@utils/types.ts";
import { ViewTransitions } from "astro:transitions";

export interface Props {
  frontmatter: Frontmatter;
  site_name: string;
  locale?: string;
}

const { frontmatter, site_name, locale = "en_US" } = Astro.props;

const { title, description, date, image } = frontmatter;
import AvatarImage from "@data/images/avatar.png";

const url = Astro.url;
const usedImage = image ? image.src : AvatarImage.src;
let fullTitle = `${site_name} - ${title}`;
if (!title) {
  fullTitle = site_name;
}
---

<!-- Global Metadata -->
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="icon" type="image/x-icon" href="/favicon.ico" />

<!-- Primary Meta Tags -->
<title>{fullTitle}</title>
<meta name="title" content={fullTitle} />
<meta name="description" content={description} />

<!-- Open Graph / Facebook -->
<meta property="og:title" content={title} />
<meta property="og:type" content="website" />
<meta property="og:image" content={usedImage} />
<meta property="og:url" content={url} />
<meta property="og:description" content={description} />
<meta property="og:locale" content={locale} />
<meta property="og:site_name" content={site_name} />

<ViewTransitions />
