---
export interface NavButtonProps {
  name: string;
  href: string;
  icon?: string;
  tooltip?: string;
}
import FixedIcon from "@components/ui/FixedIcon.astro";

let { name, href, icon, tooltip } = Astro.props as NavButtonProps;

function getBasePath(pathname: string): string {
  const segments = pathname.split("/").filter(Boolean);
  if (segments.length > 0) {
    return `/${segments[0]}`;
  }
  return "/";
}

const currentPath = getBasePath(Astro.url.pathname);
const current = href === currentPath;
---

<a href={href}>
  {icon ? <FixedIcon name={icon} inline={true} /> : null}
  <span class={current ? "current" : null}>{name}</span>
</a>

<style>
  a:hover {
    background-color: var(--highlight);
  }

  a {
    display: block;
    padding: var(--halfpad);
    text-decoration: none;
    color: var(--url);

    border: 1px solid var(--border-hard);
    padding: var(--halfpad);
    margin: var(--block-mark);
    border-radius: var(--block-mark);
    box-shadow: 1px 1px 0 0 rgba(0, 0, 0, 1);
  }
  a:visited {
    color: var(--urlvisited);
  }

  /* only target text */
  a:hover span {
    text-decoration: underline dotted;
  }

  .current {
    text-decoration: underline;
  }
  span {
    whitespace: nowrap;
  }

  @media (min-width: 768px) {
    a {
      padding: var(--block-mark);
      border: none;
      background-color: none;
      box-shadow: none;
    }
  }
</style>
